* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.index-page {
    background-color: black;
    margin: 0;
    padding-bottom: 100px;
}

.sigin-page{
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
}

.header-section {
    margin-left: 15px;
}

.hamburger {
    color: white;
}

.reg {
    color: red;
    position: absolute;
    left: 150px;
    top: 35px;
    font-size: 5px;
}

.logo-section {
    text-align: center;
    margin-left: 20px;
}

.logo-section h1 {
    color: white;
    font-size: 20px;
    margin: 0;
}

.logo-section p {
    color: yellow;
    font-size: 10px;
    margin: 0;
}

.button-box {
    background-color: red;
    color: white;
    height: 35px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 30px;
    text-decoration: none;
}

.cart-section {
    margin-left: auto;
    right: 15px;
}

.cart {
    color: white;
}

.order-section {
    background-color: red;
    height: 90px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.location {
    display: flex;
    align-items: center;
}

.location_on {
    color: white;
}

.location-text {
    margin-left: 20px;
}

.location-text a {
    color: white;
    font-size: 15px;
    margin-right: 15px;
    text-decoration: underline;
}

.order-now {
    background-color: white;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
}

.order-now p {
    color: red;
    font-size: 10px;
}

.promo-content h1 {
    font-size: 45px;
    text-align: center;
    padding: 50px 20px;
}

.promo-content h1 p1,
.promo-content h1 p2 {
    color: red;
}

.promo-content h1 strong {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.promo-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.red-button,
.white-button,
.about-button,
.buy-button,
.join-button,
.cater-button,
.read-button {
    display: block;
    width: 100%;
    max-width: 600px;
    padding: 18px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 0;
}

.red-button,
.join-button,
.cater-button,
.read-button,
.buy-button {
    background-color: red;
    color: black;
}

.white-button,
.about-button {
    background-color: white;
    color: black;
}

.feedback {
    position: fixed;
    right: -20px;
    top: 450px;
    color: white;
    background-color: darkred;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 80px;
    z-index: 1;
}

.burger-promotion {
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.burger-promotion img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.rewards-section {
    background-color: red;
    padding: 0 40px 60px;
}

.rewards-image {
    width: 100%;
    line-height: 0;
}

.rewards-image img {
    display: block;
    width: 100%;
    height: auto;
}

.rewards-card {
    background-color: white;
    padding: 70px 50px 40px;
    border-radius: 0 0 20px 20px;
    position: relative;
    z-index: 2;
    margin-top: -1px;
}

.rewards-card h2 {
    text-align: center;
    font-size: 32px;
    margin: 0 0 70px;
}

.rewards-card p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 70px;
}

.rewards-card a {
    display: block;
    text-align: center;
    padding: 20px;
    margin-top: 15px;
    border: 2px solid silver;
    border-radius: 15px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.signup,
.learn {
    color: black;
    background-color: white;
}

.menu-section {
    background-color: white;
    width: 100%;
    height: auto;
}

.menu-section h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
}

.menu-section p {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

.images img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.images a {
    display: block;
    width: 88%;
    text-align: center;
    padding: 15px;
    margin: auto;
    border: 1px solid silver;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.pride-craft {
    background-color: black;
    width: 100%;
    height: auto;
}

.pride-craft img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.pride-craft h3 {
    color: yellow;
    text-align: center;
}

.pride-craft p {
    color: white;
    text-align: left;
    font-size: 20px;
}

.big-box {
    background-color: red;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-right: 10px;
    margin-top: 50px;
}

.white-box,
.join,
.catering,
.read {
    background-color: white;
    width: 90%;
    height: auto;
    border-radius: 15px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

.white-box img,
.join img,
.catering img,
.read img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.white-box h2,
.join h2,
.catering h2,
.read h2 {
    text-align: center;
    font-size: 15px;
}

.white-box p {
    text-align: center;
}

footer {
    background-color: black;
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
}

footer details {
    border-bottom: 2px solid white;
}

footer summary {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 40px 0;
    cursor: pointer;
    list-style: none;
    position: relative;
}

footer summary::after {
    content: "⌄";
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 30px;
}

footer details[open] summary::after {
    transform: rotate(180deg);
}

.dropdown-content {
    padding: 0 0 30px;
}

.dropdown-content a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 12px 0;
}

.download-app {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 30px;
}

.download-app h2 {
    font-size: 20px;
    margin-bottom: 25px;
}

.app-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.app-buttons a {
    display: block;
    width: 45%;
}

.app-buttons img {
    display: block;
    width: 100%;
    height: auto;
}

.download-app p {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    margin-top: 50px auto 0;
}

.footer-bottom {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 30px 40px;
}

.footer-bottom h2 {
    font-size: 20px;
    margin: 0px 0 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 70px;
}

.social-icons a {
    display: block;
}

.social-icons img {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.captcha {
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 50px;
}

.captcha a {
    color: white;
    text-decoration: underline;
}

.copyright {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    max-width: 700px;
    margin: auto;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.cookie-button {
    display: block;
    width: 55%;
    margin: 60px auto 0;
}

.cookie-button img {
    display: block;
    width: 100%;
    height: auto;
}

.order-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 15px 25px;
    box-sizing: border-box;
    z-index: 1000;
}

.order-footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: red;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    box-sizing: border-box;
}

.sign-in {
    background-color: white;
    min-height: 100vh;
    padding: 70px 45px;
    box-sizing: border-box;
}

.sign-in h1 {
    color: red;
    text-align: center;
    font-size: 40px;
    margin: 0 0 50px;
}

.sign-in form {
    color: black;
    font-size: 30px;
}

.sign-in input {
    display: block;
    width: 100%;
    height: 70px;
    border: 2px solid silver;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
    font-size: 20px;
    margin-top: 20px;
}

#forgot {
    display: block;
    color: black;
    font-size: 28px;
    text-decoration: underline;
    margin-top: 15px;
    margin-bottom: 60px;
}

.sign-in button {
    display: block;
    width: 100%;
    height: 70px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 30px;
    font-weight: bold;
}

.Account {
    background-color: white;
    margin-top: 65px;
    padding: 45px 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.Account p {
    display: inline;
    margin: 0;
}

.Account a {
    color: darkred;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 5px;
}

.location-page {
    background-color: white;
    min-height: 100vh;
    padding: 70px 48px;
    box-sizing: border-box;
    color: black;
}

.location-page h1 {
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
    margin: 0 0 50px;
    font-weight: bold;
}

.location-page h2 {
    text-align: center;
    font-size: 15px;
    margin: 0;
}

.location-page p {
    text-align: center;
    color: dimgray;
    font-size: 15px;
    margin: 12px 0 65px;
}

.location-page form {
    display: flex;
    flex-direction: column;
    font-size: 27px;
}

.location-page select {
    width: 100%;
    height: 60px;
    background-color: white;
    border: 2px solid silver;
    border-radius: 12px;
    padding: 0 28px;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.location-page input {
    width: 100%;
    font-size: 115px;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid silver;
    border-radius: 12px;
    padding: 0 28px;
    font-size: 28px;
    margin-top: 15px;
}

.location-page input::placeholder {
    color: #777;
}

.search-button {
    width: 100%;
    height: 60px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 45px;
}

.location-button {
    width: 100%;
    height: 60px;
    background-color: white;
    color: black;
    border: 2px solid #333;
    border-radius: 12px;
    font-size: 27px;
    font-weight: bold;
    margin-top: 25px;
}

.locations-state {
    background-color: white;
    min-height: 100vh;
    padding-top: 30px;
    color: black;
}

.locations-state h1 {
    text-align: center;
    color: red;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}

.locations-state h2 {
    text-align: center;
    color: red;
    font-size: 30px;
    margin: 10px 0 70px;
    font-weight: bold;
}

.locations-state h3 {
    text-align: center;
    font-size: 25px;
    margin: 20px 0 40px;
}

.states {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}

.states a {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid #444;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 20px;

}

.canada-title {
    margin-top: 40px !important;
    margin-bottom: 20px !important;
}

/* RESPONSIVE DESIGN */


/*  PHONES */
@media (max-width: 600px) {

    .states {
        width: 92%;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin: auto;
    }

    .states a {
        width: 100%;
        height: 75px;
        font-size: 18px;
    }

    .locations-page {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .locations-page h1 {
        font-size: 35px;
    }

    .locations-page h2 {
        font-size: 35px;
    }

    .locations-page h3 {
        font-size: 25px;
    }

    .promo-content h1 {
        font-size: 35px;
    }

    .promo-content h1 strong {
        font-size: 32px;
    }

    .sign-in {
        width: 100%;
        padding: 50px 25px;
    }

    .sign-in input {
        width: 100%;
        height: 80px;
    }

    .sign-in button {
        width: 100%;
        height: 70px;
    }

}


/*  TABLETS */
@media (min-width: 601px) and (max-width: 1024px) {

    .states {
        width: 85%;
        max-width: 800px;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: auto;
    }

    .states a {
        width: 100%;
        height: 85px;
        font-size: 22px;
    }

    .locations-page {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .locations-page h1 {
        font-size: 45px;
    }

    .locations-page h2 {
        font-size: 45px;
    }

    .locations-page h3 {
        font-size: 30px;
    }

}

/* LAPTOPS AND DESKTOPS */
@media (min-width: 1025px) {

    .states {
        width: 80%;
        max-width: 900px;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        margin: auto;
    }

    .states a {
        width: 100%;
        height: 90px;
        font-size: 24px;
    }

    .locations-page {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }

    .locations-page h1 {
        font-size: 55px;
    }

    .locations-page h2 {
        font-size: 50px;
    }

    .locations-page h3 {
        font-size: 32px;
    }

}

@media screen and (orientation: landscape) {

    body {
        width: 100%;
        overflow-x: hidden;
    }

    body {
        width: 100%;
        overflow-x: hidden;
    }

    header {
        height: 160px;
        display: flex;
        align-items: center;
        padding: 0 50px;
        box-sizing: border-box;
    }

    .header-section {
        margin-left: 0;
    }

    .hamburger {
        font-size: 40px;
    }

    .logo-section {
        margin-left: 40px;
        text-align: left;
    }

    .logo-section h1 {
        font-size: 35px;
    }

    .logo-section p {
        font-size: 15px;
    }

    .button-box {
        margin-left: auto;
        width: 190px;
        height: 80px;
    }

    .button-box p {
        font-size: 25px;
        margin: 0;
    }

    .cart-section {
        margin-left: 40px;
        right: auto;
    }

    .cart {
        font-size: 40px;
    }

    .order-section {
        height: 145px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .location {
        display: flex;
        align-items: center;
    }

    .location-text {
        margin-left: 20px;
    }

    .location-text a {
        font-size: 25px;
    }

    .location_on {
        font-size: 35px;
    }

    .order-now {
        width: 250px;
        height: 80px;
        margin-right: 0;
    }

    .order-now p {
        font-size: 25px;
        margin: 0;
    }

    .burger-promotion img {
        width: 100%;
        height: auto;
    }

    .rewards-section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu-section {
        width: 100%;
    }

    .pride-craft {
        width: 100%;
    }

    .big-box {
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }

    .order-footer {
        padding: 8px 20px;
    }

    .order-footer a {
        height: 55px;
        font-size: 24px;
        border-radius: 12px;
    }

    .promo-content {
        padding: 20px 40px;
    }

    .promo-content h1 {
        font-size: 35px;
        margin: 20px 0;
    }

    .promo-buttons {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }

    .red-button,
    .white-button {
        width: 45%;
    }

    .burger-promotion img {
        width: 100%;
        height: auto;
    }

    .order-footer {
        padding: 8px 40px;
    }

    .order-footer a {
        height: 55px;
        font-size: 24px;
        border-radius: 12px;
    }

    .menu-section {
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .menu-section h1,
    .menu-section > p {
        grid-column: 1 / -1;
    }

    .menu-section .images {
        width: 100%;
        margin: 0;
    }

    .menu-section .images img {
        display: block;
        width: 100%;
        height: auto;
    }

    .menu-section .images a {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 10px 0 0;
    }

    .big-box {
        width: 92%;
        margin: 20px auto;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        box-sizing: border-box;
    }

    .big-box .white-box,
    .big-box .join,
    .big-box .catering,
    .big-box .read {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }

    .big-box img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.student-info {
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 15px 20px 120px;
}
